*.orig
*.bak
*~
/autom4te.cache
/config.h.in
/configure
/intl
/m4
Makefile.in
/aclocal.m4
/po/Makefile.in.in
/po/Makevars.template
/giac-1*
Makefile
/config.log
/config.h
/config.status
/libtool
/path.h
.deps
*.gmo
*.pot
/src/config.h
/src/input_*.cc
/src/input_*.h*
/src/lexer.h
/src/path.h
/stamp-*
/po/POTFILES
/po/remove-potcdate.sed
/src/giac
/src/mkjs
/fltk-*
*.o
*.lo
*.la
.libs
*.a
*.rej
/src/aide
/src/hevea2mml
/src/xcas
/config/compile
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/test-driver
/config/texinfo.tex
/config/ylwrap
/micropython-*/xcas/build
